@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  --primary: #0f172a;
  --secondary: #ff9900;
  --accent: #6d28d9;

  --surface: #f8fafc;

  --success: #16a34a;
  --danger: #dc2626;

  --font-heading: var(--font-poppins);
  --font-body: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}